body{
    display: grid;
    grid-template-areas: 
    "titulo titulo"
    "eu foto"
    "text text";
    grid-template-columns: 60% 40%;
    grid-template-rows: 170px 1fr 1fr;
    background-color: #E1D1D2;
}


#titulo{
    grid-area: titulo;
    font-size: 50px;
    color: #6C9476;
    padding: 35px;
    text-align: center;
    
    
}
.inicio{
    grid-area: titulo;
    text-align: center;
    background-color: #E1D1D2;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0%;
}
.img{
    grid-area: foto;
    background-color: #E1D1D2;
    padding-top: 100px;
}
.corpo{
    grid-area: eu;
    margin: 100px;
    font-size: larger;
    background-color: #947B7C;
    border-style: dotted;    
    text-align: justify;   
    padding: 0 10px;     
}
.ancora{
    text-align: center;
    display: block;
}
.corpo h2{
    text-align: center;
}
.text_rede{
    grid-area: text;
    font-size: 40px;
    padding: 10px;
    text-align: center;
    color: #6C9476;
}
.list{
    font-size: 2rem;
}
body{
    border-color: #D1E0D5;
    border-style: solid;
    border-width: 30px;
}